onevn_product_name = OneVN
onevn_project_name = onevn
dist_url = https://onevn-onevn-binaries.s3.amazonaws.com/releases/dist/
ONEVN_S3_BUCKET = onevn-onevn-binaries
sccache = C:\\Users\\DiepDT\\.cargo\\bin\\sccache.exe